<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventivities.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.eventivities.android.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eventivities.android.ListaProductosActivity"
            android:label="@string/title_activity_productos" >
        </activity>
        <activity
            android:name="com.eventivities.android.EjemploActivity"
            android:label="@string/title_activity_ejemplo" >
        </activity>
        <activity
            android:name="com.eventivities.android.DetalleProductoActivity"
            android:label="@string/title_activity_detalle_producto" >
        </activity>
        <activity
            android:name="com.eventivities.android.QueTengoCerca"
            android:label="@string/title_activity_que_tengo_cerca" >
        </activity>
        <activity
            android:name="com.eventivities.android.TodosLocales"
            android:label="@string/title_activity_todos_locales" >
        </activity>
        <activity
            android:name="com.eventivities.android.VerComentarios"
            android:label="@string/title_activity_ver_comentarios" >
        </activity>
        <activity
            android:name="com.eventivities.android.MiPerfil"
            android:label="@string/title_activity_mi_perfil" >
        </activity>
        <activity
            android:name="com.eventivities.android.Registrarse"
            android:label="@string/title_activity_registrarse" >
        </activity>
        <activity
            android:name="com.eventivities.android.PuedoVerEn"
            android:label="@string/title_activity_puedo_ver_en" >
        </activity>
        <activity
            android:name="com.eventivities.android.Votar"
            android:label="@string/title_activity_votar" >
        </activity>
        <activity
            android:name="com.eventivities.android.DondeEsta"
            android:label="@string/title_activity_donde_esta" >
        </activity>
        <activity
            android:name="com.eventivities.android.VewrFotosDe"
            android:label="@string/title_activity_vewr_fotos_de" >
        </activity>
        <activity
            android:name="com.eventivities.android.CompartirCon"
            android:label="@string/title_activity_compartir_con" >
        </activity>
    </application>

</manifest>